body{
  font-family: "PT Sans", Arial;
  font-size: 14px;
  background-color: #ffffff;
  margin: 0;
  width: 1280px;
  padding: 0;
  text-transform: uppercase;

  
}
.visually-hidden{
  display: none;
}


header{
  width: 1200px;
  height: 56px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0;
  padding: 0;
  background-color: #ffffff;  
}
img.main-header-logo{
  width: 140px;
  height: 70px;
  position: absolute;
  left: 600px;
  top: 0;
  right: auto;
  margin: 0;
}
a{
  text-decoration: none;
}
.main-navigation{
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  margin-top: 0;
  background-color: #ffffff;
  text-align: center;
}
.site-navigation,
{
  margin: 0;
  margin-left: 50px;
  padding: 0;
  list-style: none;
}
.site-navigation li {
  display: inline-block;
  margin-right: 180px;
  margin-left: 10px;
  margin-top: 10px;
}
.site-navigation a,
.user-navigation a{
  color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus,

  background-color: #ffffff;
  color: #81b3d2;
}

.intro section{
  width: 1200px;
  height: 800px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0;
  padding-top: 0;
  border: 0;
  background-color: #ffffff;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat; 
}
.welcome{
  width: 459px;
  height: 353px;
  margin-right: auto;
  margin-left: 250px;
  margin-top: 10px;
}
.polygon{
  width: 1201px;
  height: 59px;
  margin-top: 0px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.info-block{
  width: 1200px;
  height: 216px;
  margin-top: 0px;
  background-color: #ffffff;
}
.info-sedona{
  width: 1200px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  padding-top: 65px;
}
.info-proposel{
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}
main{
  width: 1200px;
  margin-right: 40px;
  margin-right: 40px;
  background-color: inherit;
  background-position: center;

}
.advantages{
  width: 1200px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #ffffff;
}
.advantage-block> li{
  list-style: none;
}
.real-city,
.devil-bridge{
  background-color: #81b3d2;
  color: #ffffff;
}
.search{
  margin-left: 40px;
  margin-right: 40px;
  width: 1200px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  padding-top: 65px;
}
.search p{
  font-size: 14px;
  font-weight: normal;
}
.searc-hotel-button{
  width: 568px;
  height: 86px;
  background-color: #766357;
  font-size: 21px;
  color: #ffffff;
  border: 0;
}
form{
  width: 568px;
  height: 395px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
label{
  font-size: 14px;
  font-weight: normal;
  margin-top: 55px;
  display: inline-block;

  
}
input{
  width: 346px;
  height: 38px;
  margin-top: 55px;
  margin-bottom: -25px;
  font-size: 14px;
  font-weight: normal;
}
input[type="number"]{
  width: 117px;
  height: 38px;
  display: inline-block;
}
.old{
  margin-left: 0px;
  padding-left: 0px;
}
.kids{
  margin-left: 80px;
}
.old,
.kids{
  display: inline-block;
  
}
.search-request{
  text-align: center;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  border: 0;
  margin: 54px;
}
.map{
  margin-left: 40px;
  margin-right: auto;
}
.map-sedona{
  width: 1200px;
  height: auto;
}

footer{
  width: 1200px;
  margin-bottom: 0px;
  margin-left: 40px;
  margin-right: 40px;
}
.social-links li{
  list-style: none;
  display: inline-block;
}
.social-links>li>a{
  width: 17px;
  height: 15px;

}
.icon-twitter,
.icon-facebook,
.icon-youtube{
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-position: center;
}
.academy{

}
.logo-htmlacademy{
  width: 115px;
  height: 41px;
}

