body{
  font-family: "PT Sans", Arial;
  font-size: 14px;
  background-color: gray;
  margin: 0;
  padding: 0;
  border: 0;
  text-transform: uppercase;
}

.content{
  width: 1200px;
  background-color: #ffffff;
}
.visually-hidden{
  display: none;
}
.main-header{
  background-color: #ffffff;
}
.main-header-logo{
  width: 140px;
  height: 70px;
}
.links a{
  font-family: "PT Sans", Arial;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-decoration: none;
  list-style: none;
}
.links a:hover{
  color: #81b3d2;
}
.links a:active{
  color: rgba(0, 0, 0, 0.3);
}
.links{
  list-style: none;
}
a.active-sity{
  color: #766357;
}
.welcome-sedona{

  background-image: url("../img/polygon.svg"), url("../img/background-photo.jpg");
  background-position: center bottom 214px, top center;
  background-size: 1200px 59px, 1200px 800px;
  background-repeat: no-repeat; 
}
.welcome{
  width: 459px;
  height: 353px;
}
.info-block{
  height: 216px;
  margin-top: auto;
  margin-bottom: 0;
  background-color: #ffffff;
  line-height: 26px;
  text-align: center;
}
.info-sedona{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.advantage-block li{
  list-style: none;
}
.real-city,
.devil-bridge{
  background-color: #81b3d2;
}
.real-city-text h3,
.recomendation h3,
.devil-bridge-text h3,
.advantage-text h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
}
.real-city-text p,
.recomendation p,
.devil-bridge-text p,
.advantage-text p{
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.form-filter{
  background-image: url("../img/filter background.jpg");
}
.filter-range {
  width: 320px;
  margin: 50px auto; 

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;
  
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  width: 6px;
  height: 6px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
.hotel-name{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}
.hotel-name:hover{
  color: #81b3d2;
}
.hotel-name:active{
  color: rgba(0, 0, 0, 0.3);
}
.hotels p{
  color: #333333;
  line-height: 21px;
  text-align: left;
}
.more{
  font-family: "PT Sans", Arial;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
}
.more:hover{
  background-color: #669EC0;
}
.more:active{
  color: rgba(255, 255, 255, 0.3); 
  background-color: rgba(84, 150, 189, 100);
}
.book{
  background-color: #766357;
  line-height: 21px;
}
.book:hover{
  background-color: #604E43;
}
.book:active{
  color: rgba(255, 255, 255, 0.3); 
  background-color: rgba(80, 62, 51, 100);
}
.rating{
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}
.search h3{
  font-size: 30px;
  line-height: 36px;
}
.search p{
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
.searc-hotel-button{
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
  text-transform: uppercase;
  text-align: center;
}
.search-hotel {
  width: 568px;
  height: 395px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
label{
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0;

  
}
.search-hotel input{
  width: 346px;
  height: 38px;
  margin-top: 55px;
  margin-bottom: -25px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
input[type="date"]:hover{
  background-color: #ebebeb;
}
input[type="number"]{
  width: 117px;
  height: 38px;
}  
input.search-request{
  text-align: center;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  margin: 0;
}
.result{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: left; 
}
.sort-request p{
  font-size: 12px;
  line-height: 18px;
  text-align: left; 
}
.sort-type li{
  list-style: none;
}
.sort-type a{
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #bcbcbc;
  text-decoration-style: dotted; 
}
.sort-type a:hover{
  color: #81b3d2;
}
.sort-type a:active{
  color: #000000;
  text-decoration: none;
}
a.active-sort{
  color: #81b3d2;
  text-decoration: none;
}
.poligon svg{
  width: 10px;
  height: 10px;
  fill: #cacaca;
}
.poligon-up polygon:hover,
.poligon-down polygon:hover
{
  fill: #000000;
}
.poligon-up polygon:active,
.poligon-down polygon:active
{
  fill: #81b3d2;
}
svg.active {
  fill:#81b3d2
}
.hash p{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}
.footer-social ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 151px;
  list-style: none;
}
.social-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.social-button svg{
  fill: #ffffff;
}
.social-button svg:active{
  fill: rgba(255, 255, 255, 0.3);
}
.social-button:hover{
  background-color: #669EC0;
}
.social-button:active{
  background-color: #5496BD; 
}
.academy p{
  font-size: 14px;
  line-height: 26px;
}
.logo-htmlacademy{
  width: 115px;
  height: 41;
}
svg.logo-htmlacademy:hover {
   fill: #81B3D2;
}
svg.logo-htmlacademy:active {
   fill: #BDBBBC;
}