body{
  font-family: "PT Sans", Arial;
  font-size: 14px;
  background-color: gray;
  margin: 0;
  padding: 0;
  border: 0;
  text-transform: uppercase;
}

.content{
  width: 1200px;
  background-color: #ffffff;
}
.visually-hidden{
  display: none;
}
.main-header{
  background-color: #ffffff;
}
.main-header-logo{
  width: 140px;
  height: 70px;
}
.links a{
  font-family: "PT Sans", Arial;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-decoration: none;
  list-style: none;
}
.links{
  list-style: none;
}
#hotels{
  color: #766357;
}
.welcome-sedona{

  background-image: url("../img/polygon.svg"), url("../img/background-photo.jpg");
  background-position: center bottom 214px, top center;
  background-size: 1200px 59px, 1200px 800px;
  background-repeat: no-repeat; 
}
.welcome{
  width: 459px;
  height: 353px;
}
.info-block{
  height: 216px;
  margin-top: auto;
  margin-bottom: 0;
  background-color: #ffffff;
  line-height: 26px;
  text-align: center;
}
.info-sedona{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.hotels p{
  color: #333333;
  line-height: 26px;
  text-align: left;
}
.more{
  font-family: "PT Sans", Arial;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
}
.book{
  background-color: #766357;
}
.rating{
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}
.search h3{
  font-size: 30px;
  line-height: 36px;
}
.search p{
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
.searc-hotel-button{
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
  text-transform: uppercase;
  text-align: center;
}
.search-hotel {
  width: 568px;
  height: 395px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
label{
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 55px;

  
}
input{
  width: 346px;
  height: 38px;
  margin-top: 55px;
  margin-bottom: -25px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}
input[type="number"]{
  width: 117px;
  height: 38px;
}  
.search-request{
  text-align: center;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  margin: 54px;
}
.hash p{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}
.social-links a{
  background-color: #81b3d2;
}
.academy p{
  font-size: 14px;
  line-height: 26px;
}
.logo-htmlacademy{
  width: 115px;
  height: 41;
}
